<div class="footer">
	<div class="container">
		<p>
			Copyright © 2016 <a href="${base_url('/')}">Java中国</a>.
			All rights reserved.
		</p>
		<p>Powered By <a href="http://java-china.org">BladeFrameWork</a> v0.1</p>
	</div>
	<script type="text/javascript">
		var BASE = '${base}';
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-53476480-2', 'auto');
	  ga('send', 'pageview');
	</script>
	<script type="text/javascript" src="${cdn}/assets/scripts/jquery.min.js?ver=${version}"></script>
	<script type="text/javascript" src="${cdn}/assets/lib/sweet-alert/sweetalert.min.js?ver=${version}"></script>
	<script type="text/javascript" src="${base}/assets/scripts/main.min.js?ver=${version}"></script>
</div>
<!-- /.footer -->