<div class="footer">
	<div class="container">
		<p>
			Copyright © 2016 <a href="${base_url('/')}">Java中国</a>.
			All rights reserved.
		</p>
		<p>Powered By <a href="http://java-china.org">BladeFrameWork</a> v0.1</p>
	</div>
	<script type="text/javascript">
		var BASE = '${base}';
	</script>
	<script type="text/javascript" src="${cdn}/assets/scripts/jquery.min.js?ver=${version}"></script>
	<script type="text/javascript" src="${cdn}/assets/lib/sweet-alert/sweetalert.min.js?ver=${version}"></script>
	<script type="text/javascript" src="${base}/assets/scripts/main.js?ver=${version}"></script>
</div>
<!-- /.footer -->
</body>
</html>