            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    	#if(null == login_user)
                        <h3 class="panel-title">小帖士</h3>
                        #else
                        <h3 class="panel-title">${login_user.login_name}</h3>
                        #end
                    </div>
                    <div class="panel-body">
                    	#if(null != login_user)
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="${base_url('/member/') + login_user.login_name}">
                                    <img width="50" height="50" class="img-rounded img-responsive pull-left" 
                                    	src="${base_url('/assets/avatar/') + login_user.avatar}" alt="${login_user.login_name}">
                                </a>
                                <p class="username"><a href="${base_url('/member/') + login_user.login_name}">${login_user.login_name}</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <a href="${base_url('/topic/add')}">创作新主题</a>
                            </div>
                        </div>
                        #else
                        	<p>如果你想寻找 Java 的示例项目，请上 <a href="https://github.com/JavaExamples">https://github.com/JavaExamples</a> 上面寻找。</p>
                        	<p><a href="javascript:;" class="btn btn-danger btn-sm mr5">立即登录</a></p>
                        #end
                    </div>
                    #if(null != login_user)
                    <div class="panel-footer">
                        <a href="${base_url('/notice')}">${login_user.notices} 条未读提醒</a>
                    </div>
                    #end
                </div>
                
				#if(null != hot_topics && hot_topics.size() > 0)
				<div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">今日热议主题</h3>
                    </div>
                    <div class="panel-body">
                    	<ul class="list-unstyled hot-topics">
                    		#for(topic : hot_topics)
                    		<li>
								<a href="${base_url('/member/') + topic.user_name}"><img src="${topic.avatar}" width="25" height="25" /></a>
								<a href="${base_url('/topic/') + topic.tid}">${topic.title}</a>
							</li>
                    		#end
						</ul>
                    </div>
                </div>
				#end
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门节点</h3>
                    </div>
                    <div class="panel-body">
						<p class="hot-nodes">
							<span class="label label-default">Java</span> 
							<span class="label label-default">Blade</span> 
							<span class="label label-default">Linux</span> 
							<span class="label label-default">金正恩</span> 
							<span class="label label-default">Nodejs</span> 
							<span class="label label-default">Mongodb</span> 
							<span class="label label-default">人工智能</span> 
							<span class="label label-default">自然语言处理</span> 
							<span class="label label-default">求职</span> 
						</p>
						<p class="hot-nodes">
							<span class="label label-default">Java</span> 
							<span class="label label-default">Blade</span> 
							<span class="label label-default">Linux</span> 
							<span class="label label-default">金正恩</span> 
							<span class="label label-default">Nodejs</span> 
							<span class="label label-default">Mongodb</span> 
							<span class="label label-default">人工智能</span> 
							<span class="label label-default">自然语言处理</span> 
							<span class="label label-default">求职</span> 
						</p>
					</div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">社区运行状况</h3>
                    </div>
                    <div class="panel-body">
                        <p>社区会员：111</p>
                        <p>帖子数：2222</p>
                        <p>回帖数：333</p>
                    </div>
                </div>
                
            </div><!-- /.col-md-4 -->
