#include("./common/header.html", {title:"关于我们"})
<div class="container">
    <div class="row">
        <div class="col-md-8">
		<div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">关于JavaChina</h3>
              </div>
              <div class="panel-body">
            	随便说点儿什么吧。。。
              </div>
          </div>
        </div>
        #include("./common/sidebar.html")
    </div>
</div>
#include("./common/footer.html")
</body>
</html>