#include("./common/header.html", {active:"home"})
<div class="container">
    <div class="row">
        <div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading home-panel">
					<div class="box-tab">
							<ul class="nav nav-tabs">
								<li><a href="javascript:void(0);" data-toggle="tab" aria-expanded="true">技术</a></li>
								<li><a href="javascript:void(0);" data-toggle="tab" aria-expanded="false">创意</a></li>
								<li class="active"><a href="javascript:void(0);" data-toggle="tab" aria-expanded="false">Blade</a></li>
								<li ><a href="javascript:void(0);" data-toggle="tab" aria-expanded="false">Spring</a></li>
							</ul>
							<div class="tab-content">
								<div class="tab-pane active" id="home">
									<section class="widget bg-white post-comments">
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										<hr/>
										<div class="media">
											<a class="pull-left" href="javascript:;"> 
												<img class="media-object avatar avatar-sm" src="${base}/assets/images/avatar.21d1cc35.jpg" alt="">
											</a>
											<div class="comment">
												<div class="comment-author h6 no-margin">
													<div class="comment-meta small"><span class="badge bg-default">4</span></div>
													<a href="javascript:;">最近梯子总被干扰、有什么好的建议</a>
												</div>
												<div class="comment-bt">
													<span class="label label-default">程序员</span> &nbsp;•&nbsp; 
													<strong><a href="/member/questionier">questionier</a></strong>
													 &nbsp;•&nbsp; 11 分钟前 &nbsp;•&nbsp; 最后回复来自 
													 <strong><a href="/member/questionier">questionier</a></strong>
												</div>
											</div>
										</div>
										
									</section>
								</div>
							</div>
						</div>
				</div>
			</div>
            
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">社区节点导航</h3>
				</div>
				<div class="panel-body">
				    <div class="row">
             			<div class="col-sm-2" style="line-height: 30px;">Java</div>
             			<div class="col-sm-10">
             				<p>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Spring</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Blade</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">CMS</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Dubbo</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">ActiveMQ</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">WebService</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">AOP</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">测试用例</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Struts2</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Solr</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">中文分词</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Spring</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Blade</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">CMS</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Dubbo</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">ActiveMQ</a>
               				</p>
               			</div>
                  	</div>
                  	<div class="row">
             			<div class="col-sm-2" style="line-height: 30px;">分享与探索</div>
             			<div class="col-sm-10">
             				<p>
                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">问与答</a>
                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">分享与发现</a>
                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">奇思妙想</a>
                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">不靠谱茶座会</a>
               				</p>
               			</div>
                  	</div>
				</div>
			</div>
			        	
        </div>
        #include("./common/sidebar.html")
    </div>
</div>
#include("./common/footer.html")