#include("./common/header.html", {active:"home"})
<div class="container">
    <div class="row">
        <div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading home-panel">
					<div class="box-tab">
						<ul class="nav nav-tabs">
							<li class="active"><a href="javascript:void(0);" data-toggle="tab">全部</a></li>
							#for(node : hot_nodes)
							<li><a href="javascript:void(0);" data-toggle="tab">${node.title}</a></li>
							#end
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="home">
								<section class="widget bg-white post-comments">
									#for(topic : topicPage.results)
									<div class="media">
										<a class="pull-left" href="${base_url('/member/') + topic.user_name}"> 
											<img class="media-object avatar avatar-sm" src="${topic.avatar}" alt="${topic.user_name}">
										</a>
										<div class="comment">
											<div class="comment-author h6 no-margin">
												#if(topic.comments > 0)
												<div class="comment-meta small">
													<span class="badge bg-default">${topic.comments}</span>
												</div>
												#end
												<a href="${base_url('/topic/') + topic.tid}">${topic.title}</a>
											</div>
											<div class="comment-bt">
												<span class="label label-default"><a href="${base_url('/go/') + topic.node_slug}">${topic.node_name}</a></span> &nbsp;•&nbsp; 
												<strong><a href="${base_url('/member/') + topic.user_name}">${topic.user_name}</a></strong>
												 &nbsp;•&nbsp; <span>${timespan(topic.update_time)}</span>
												 #if(topic.comments > 0)
												 &nbsp;•&nbsp; 最后回复来自
												 <strong><a href="${base_url('/member/') + topic.reply_name}">${topic.reply_name}</a></strong>
												 #end
											</div>
										</div>
									</div>
									<hr/>
									#end
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
            
			<div class="panel panel-default">
				<div class="panel-heading">
				    <h3 class="panel-title">社区节点导航</h3>
				</div>
				<div class="panel-body">
				    <div class="row">
             			<div class="col-sm-2" style="line-height: 30px;">Java</div>
             			<div class="col-sm-10">
             				<p>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Spring</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Blade</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">CMS</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Dubbo</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">ActiveMQ</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">WebService</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">AOP</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">测试用例</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Struts2</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Solr</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">中文分词</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Spring</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Blade</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">CMS</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">Dubbo</a>
	                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">ActiveMQ</a>
               				</p>
               			</div>
                  	</div>
                  	<div class="row">
             			<div class="col-sm-2" style="line-height: 30px;">分享与探索</div>
             			<div class="col-sm-10">
             				<p>
                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">问与答</a>
                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">分享与发现</a>
                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">奇思妙想</a>
                  			<a href="${base_url('/go/')}" class="btn btn-node btn-xs nodes" role="button">不靠谱茶座会</a>
               				</p>
               			</div>
                  	</div>
				</div>
			</div>
			        	
        </div>
        #include("./common/sidebar.html")
    </div>
</div>
#include("./common/footer.html")