#include("./common/header.html", {title:"个人设置"})
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">用户编辑</h3>
                </div>
                <div class="panel-body">
                	<form id="info_form" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">用户名</label>
                            <div class="col-sm-10">
                            	<p class="form-control-static">${profile.username}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">电子邮件</label>
                            <div class="col-sm-10">
                                <input type="email" readonly="readonly" class="form-control input-sm" id="email" name="email" value="${profile.email}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label">职业</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" id="jobs" name="jobs" value="${profile.jobs}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="location" class="col-sm-2 control-label">所在地</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" id="location" name="location" value="${profile.location}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="homepage" class="col-sm-2 control-label">个人主页</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" id="web_site" name="web_site" value="${profile.web_site}">
                            </div>
                        </div>
                         <div class="form-group">
                            <label for="homepage" class="col-sm-2 control-label">Github帐号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" id="github" name="github" value="${profile.github}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="signature" class="col-sm-2 control-label">签名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control input-sm" id="signature" name="signature" value="${profile.signature}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="introduction" class="col-sm-2 control-label">个人简介</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="introduction" name="introduction" rows="3">${profile.introduction}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default btn-sm submit">保存信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">更换头像</h3>
                </div>
                <div class="panel-body">
                	<form role="form" id="avatar_form">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">当前头像</label>
                            <div class="col-sm-10">
                            	<input type="hidden" name="avatar" id="user_avatar" value=""/>
                                <img id="upload_img" alt="${profile.username}" src="${profile.avatar}" width="73" height="73" onclick="doUpload()" style="cursor: pointer;" class="img-circle"/>
                                <input type="file" name="fileUpload" class="fileUpload" accept="image/png,image/jpg,image/jpeg" style="display: none;"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                            	<br/>
                                <button type="button" class="btn btn-primary btn-sm submit">更换头像</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">修改密码</h3>
                </div>
                <div class="panel-body">
                	#if(null!=error)<div class="alert alert-danger">${error}</div>#end
                	#if(null!=info)<div class="alert alert-danger">${info}</div>#end
                	<form id="pwd_form" action="${base_url('/settings?type=pwd')}" class="form-horizontal" role="form" method="post">
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">当前密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="curpwd" value="" required="required" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control input-sm" name="newpwd" value="" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">确认新密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control input-sm" name="renewpwd" value="" required="required"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-danger btn-sm">更改密码</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- /.col-md-8 -->
        #include("./common/sidebar.html")
	</div><!-- /.row -->
    </div><!-- /.container -->
#include("./common/footer.html") 
<script type="text/javascript" src="${cdn}/assets/scripts/jquery.liteuploader.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	
	var p1 = {};
	$("#info_form :input").change(function (){
		var key = $(this).attr('name');
		p1[key] = $(this).val();
	});
	
	$("#info_form .submit").on('click', function(){
		$.post("${base_url('/settings?type=info')}", p1, function(data){
			p1 = {};
			if(data){
				if(data == 'signin'){
					go_signin();
				} else if(data == 'success'){
					alertOk('保存成功!');
				}
			}
		});
	});
	
	$("#avatar_form .submit").on('click', function(){
		var avatar = $("#avatar_form #user_avatar").val();
		if(avatar && avatar != ''){
			$.post("${base_url('/settings')}", {type:'avatar', avatar : avatar}, function(data){
				if(data){
					if(data == 'signin'){
						go_signin();
					} else if(data == 'success'){
						alertOk("头像更换成功!");
					} else if(data == 'failure'){
						alertError("头像更换失败!");
					}
				}
			});
		}
	});
	
	$(".fileUpload").liteUploader({
	    script: "${base_url('/uploadimg')}",
	    params: {type:'avatar'},
	    rules: {
	        allowedFileTypes: "image/jpeg,image/png,image/jpeg",
	        maxSize: 51200
		}
	}).on("lu:success", function (e, data) {
		  //console.log(data);
		  if(data){
		  	$("#upload_img").attr('src', data.url);
			$("#user_avatar").val(data.savepath);
		  }
	}).on("lu:errors", function (e, errors) {
		console.log(errors);
	});
	
	$(".fileUpload").change(function () {
	    $(this).data("liteUploader").startUpload();
	});
	
});
  
//上传方法
function doUpload() {
	$(".fileUpload").click();
}
</script>
</body>
</html>