<!DOCTYPE html>
<html class=no-js>
<head>
<meta charset=utf-8>
<title>Java China - 注册</title>
<meta name="description" content="">
<link rel="shortcut icon" href="${base}/assets/favicon.ico"/>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="${base}/assets/styles/main.css">
<body>
<div class="app layout-fixed-header bg-white usersession">
	<div class=full-height>
		<div class=center-wrapper>
			<div class=center-content>
				<div class="row no-margin">
					<div
						class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
						<form role="form" action="${base_url('/signup')}" class="form-layout" method="post">
							<div class="text-center mb15">
								<img src="${base}/assets/images/logo.png">
							</div>
							<p class="text-center mb30">创建一个新账号</p>
							<div class=form-inputs>
								<div class="input-group mb15">
									<span class="input-group-addon">用户名</span>
									<input type="text" class="form-control input-lg" placeholder="请使用半角的 a-z 或数字 0-9" required="required"/>
								</div>
								<div class="input-group mb15">
									<span class="input-group-addon">邮　箱</span>
									<input type="email" class="form-control input-lg" placeholder="请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人"  required="required"/>
								</div>
								<div class="input-group mb15">
									<span class="input-group-addon">密　码</span>
									<input type="password" class="form-control input-lg" placeholder="请使用真实电子邮箱注册，我们不会将你的邮箱地址分享给任何人"  required="required" />
								</div>
							</div>
							<button class="btn btn-success btn-block btn-lg mb15" type="submit">创建账号</button>
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>