#include("./common/header.html",{title:topic.title ?! ''})
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading topic-detail-heading">
                    <div class="pull-right">
                    	<a href="${base_url('/member/') + topic.user_name}" title="${topic.user_name}">
                    		<img class="media-object avatar avatar-sm img-circle" src="${topic.avatar}" alt="${topic.user_name}">
                    	</a>
                    </div>
                    <p><a href="${base_url('/')}">首页</a> / <a href="${base_url('/go/') + topic.node_slug}">$!{topic.node_name}</a></p>
                    <h1 class="panel-title">$!{topic.title}</h1>
                    <small class="text-muted">
                        <span>By <a href="${base_url('member/')}${topic.user_name}">${topic.user_name}</a></span>&nbsp;•&nbsp;
                        <span>${fmtdate(topic.create_time)}</span>
                        #if(null!=login_user && topic.uid == login_user.uid)
                        &nbsp;•&nbsp;&nbsp;<span><a href="${base_url('/topic/edit/') + topic.tid}">编辑</a></span>
                        #end
                    </small>
                </div>
                <div class="panel-body topic-detail">
                    ${topic.content}
                </div>
                <div class="panel-footer topic-footer">
                	#if(is_love)
                	<div class="heart heartAnimation" id="like_topic" tid="${topic.tid}" rel="unlike"></div>
                	#else
                	<div class="heart " id="like_topic" tid="${topic.tid}" rel="like"></div>
                	#end
                	<div class="likeCount" id="likeCount">${topic.loves}</div>
                	<div class="pull-right" style="margin-top: -20px">
                		<small class="text-muted">${topic.views}次点击&nbsp;•&nbsp;</small>
                		<small class="text-muted">${topic.favorites}人收藏&nbsp;•&nbsp;</small>
	                	#if(is_favorite)
	                	<a class="follow" tid="${topic.tid}" role="button" href="javascript:void(0);"><small class="text-muted">取消收藏</small></a>
	                	#else
						<a class="follow" tid="${topic.tid}" role="button" href="javascript:void(0);"><small class="text-muted">加入收藏</small></a>	                	
	                	#end
                	</div>
                </div>
            </div><!-- /.panel content -->
            
            #if(topic.comments > 0)
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><small>$!{topic.comment} 回复 | 直到${today("yyyy-MM-dd HH:mm")}</small><a href="#Reply" class="pull-right"><small class="text-muted">添加回复</small></a></h3>
                </div>
                <div class="panel-body">
                    <ul class="media-list">
                    	#for(comment : commentPage.results)
                    	<li class="media" id="Reply${comment.cid}">
                            <a href="#Reply${for.index}" onclick="addReply('&lt;a href=&quot;${base_url('/member/')+comment.reply_name}&quot;&gt;${comment.user_name}&lt;/a&gt;')" class="pull-right text-muted">#${for.index} <span class="glyphicon glyphicon-share-alt"></span></a>
                            <a class="media-left" href="${base_url('/member/') + comment.reply_name}">
                                <img width="50" height="50" class="img-rounded" src="${comment.reply_avatar}" alt="${comment.reply_name}}">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading topic-list-heading"><a href="${base_url('/member/') + comment.reply_name}">${comment.reply_name}</a>
                                #if(comment.group_id == 1 || comment.group_id == 2)
                                <img width="30" height="14" class="img-rounded" src="${cdn}/static/img/mod.png" alt="Moderator" title="Moderator">
                                #end
                                &nbsp;&nbsp;
                                <small>${timespan(comment.replytime)}</small></h4>
                                ${comment.content}
                            </div>
                        </li>
                        <hr class="smallhr">
                    	#end
                    </ul>
                </div>
            </div><!-- /.panel comment -->
            #end
            
            <div class="panel panel-default" id="Reply">
                <div class="panel-heading">
                    <h3 class="panel-title">添加一条新回复</h3>
                </div>
                <div class="panel-body">
                	#if(null != login_user)
                		#if(null!=error)<div class="alert alert-danger">${error}</div>#end
                		<form action="${base_url('/comment/add')}" class="form-horizontal" role="form" method="post" onsubmit="return validate_form(this)">
                			<input type="hidden" name="tid" value="${topic.tid}">
	                        <input type="hidden" name="tuid" value="${topic.uid}">
	                        <p class="emoji-picker-container">
	                        <textarea id="content" data-emojiable="true" class="form-control textarea-control-comment" name="content" rows="4" placeholder="对楼主说点儿什么吧.."></textarea>
	                        </p>
	                        <button type="submit" class="btn btn-default">提交</button>
	                        <script>
	                            function addReply(user_name) {
	                                window.editor.insertHtml('@'+user_name+'&nbsp;');
	                            }
	                            function validate_form(thisform){
	                                if (window.editor.text().length<2){
	                                    alert('回复内容不得少于2字');
	                                    return false;
	                                }
	                            }
	                        </script>
		                </form>
		           #else
		                <div class="well text-center">
	                    	<a href="${base_url('/signup')}">注册</a> 参与讨论 or <a href="${base_url('/signin')}">登录</a>
	                    </div>
	                #end
                </div>
            </div><!-- /.panel add comment -->
        </div><!-- /.col-md-8 -->
        #include("./common/sidebar.html")
    </div>
</div>
#include("./common/footer.html")
<script>
$(document).ready(function(){

	$('body').on("click",'.heart',function(){
		var A=$(this).attr("id");
		var B=A.split("like");
		var messageID=B[1];
		var C=parseInt($("#likeCount").text());
		$(this).css("background-position","")
		var D = $("#likeCount");
	    
		var _this = $(this);
		var tid = $(this).attr('tid');
		$.post("${base_url('/love')}", {tid:tid}, function(data){
			if(data && data != ''){
				if(data == '1'){
					D.text(C+1);
					_this.addClass("heartAnimation").attr("rel","unlike");
				}else if(data == '0'){
					D.text(C-1);
					_this.removeClass("heartAnimation").attr("rel","like");
					_this.css("background-position","left");
				} else if(data == 'signin'){
					go_signin();
				}
			}
		});
	});
	
	$('body').on("click",'.follow',function(){
		var tid = $(this).attr("tid");
		var _this = $(this);
		$.post("${base_url('/favorite')}", {type:'topic', tid:tid}, function(data){
			if(data && data != ''){
				 if(data == 'signin'){
					 go_signin();
				 } else{
					window.location.reload();	
				}
			}
		});
	});
});
</script>  
</body>
</html>