<!DOCTYPE html>
<html class=no-js>
<head>
<meta charset=utf-8>
<title>Java China - ${title}</title>
<meta name=description content="">
<meta name=viewport content="width=device-width">
<link rel="shortcut icon" href="/assets/favicon.ico"/>
<link type="text/css" rel=stylesheet href="/assets/styles/admin.css" />
<body>
<div class="app layout-fixed-header">
	<div class="sidebar-panel offscreen-left">
		<div class=brand>
			<div class=brand-logo>
				<img src="/assets/images/logo1.png" height=15 alt="">
			</div>
			<a href=javascript:;
				class="toggle-sidebar hidden-xs hamburger-icon v3"
				data-toggle=layout-small-menu> <span></span> <span></span> <span></span>
				<span></span>
			</a>
		</div>
		<nav role=navigation>
			<ul class=nav>
				<li class="#if(active=='home')open#end"><a href="/admin"> <i class="fa fa-flask"></i> <span>仪表盘</span></a></li>
				<li class="#if(active=='nodes')open#end"><a href="/admin/nodes"> <i class="fa fa-leaf"></i> <span>节点管理</span></a></li>
				<li class="#if(active=='topics')open#end"><a href="/admin/topics"> <i class="fa fa-forumbee"></i> <span>帖子管理</span></a></li>
				<li class="#if(active=='users')open#end"><a href="/admin/users"> <i class="fa fa-user"></i> <span>用户管理</span></a></li>
				<li class="#if(active=='links')open#end"><a href="/admin/links"> <i class="fa fa-link"></i> <span>友链管理</span></a></li>
				<li class="#if(active=='settings')open#end"><a href="/admin/settings"> <i class="fa fa-gears"></i> <span>系统设置</span></a></li>
				<li><a href="#"><i class="fa fa-sliders"></i> <span>站务管理</span>
				</a></li>
			</ul>
		</nav>
	</div>
	<div class=main-panel>
		<header class="header navbar">
			<div class="brand visible-xs">
				<div class=toggle-offscreen>
					<a href=# class="hamburger-icon visible-xs" data-toggle=offscreen
						data-move=ltr> <span></span> <span></span> <span></span>
					</a>
				</div>
				<div class=brand-logo>
					<img src="/assets/images/logo.png" height=15 alt="">
				</div>
			</div>
			<ul class="nav navbar-nav hidden-xs">
				<p>
					<ol class="breadcrumb">
						<li><a href="/admin">仪表盘</a></li>
						<li class="active ng-binding">${title}</li>
					</ol>
				</p>
			</ul>
			<ul class="nav navbar-nav navbar-right hidden-xs">
				<li>
					<a href=javascript:; data-toggle=dropdown>
						<img src="/assets/images/avatar.21d1cc35.jpg"
							class="header-avatar img-circle ml10" alt=user title=user>
							<span class=pull-left>管理员：王爵</span>
					</a>
					<ul class=dropdown-menu>
						<li><a href="/">回到主页</a></li>
						<li><a href="/admin/settings">系统设置</a></li>
						<li><a href="/signout">注销</a></li>
					</ul>
				</li>
			</ul>
		</header>